.container {
    background-color:  rgb(168, 235, 168);
    color: rgb(68, 65, 65);
    border: 1px solid  rgb(210, 210, 210);
    padding: 20px;
    width: 60%;
    border-radius: 12px;
    position: fixed;
    bottom: 15px;
    text-align: center;
    left: 50%;
  transform: translateX(-50%);
}