.background {
    height: 100vh;
    min-height: 100vh;
    background-size: cover;
}
.container {
    color: rgb(79, 78, 78);
    background-color: white;
    margin: auto;
    width: 40%;
    padding: 25px;
    border-radius: 12px;
    align-items: center;
    border: 1px solid lightgrey;
}
.textContainer {
    text-align: left;
    border-radius: 5px;
    background-color: rgb(201, 215, 242);
    margin: 10px;
    padding: 4px;
    height: 20px;
    contain: content;
}
.imgContainer {
    border-radius: 12px;
    object-fit: contain;
    max-height: 500px;
}
.container h1 {
    color: rgb(63, 61, 61);
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
}
.container h2 {
    color: rgb(63, 61, 61);
    font-style: oblique;
    font-size: 14px;
    font-weight: bold;
}
