.container {
    position: relative;
    align-items: center;
    height: 100vh; /* Esto hará que el contenedor ocupe el 100% del viewport */
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.container button {
    border: 20px;
    padding: 6px;
    border-radius: 6px;
    background-color: white;
    color: rgb(68, 65, 65);
    align-items: center;
    font-size: 1em;
}

.container button:hover {
    background-color: rgb(237, 177, 93);
    color: rgb(5, 5, 5);
}
