.container {
    border: 1px solid rgb(183, 181, 181);
    background-color: white;
    border-radius: 6px;
    width: 300px;
    float: left;
    margin: 0px 45px 45px 0px;
}

.container:hover {
    background-color: rgb(240, 240, 240);
}

.textContainer {
    height: 150px;
    padding: 6px;
    padding-bottom: 10px;
    font-size: 1em;
    text-align: center;
}

.container img {
    width: 300px;
    height: 300px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.container .title {
    font-weight: bolder;
    color: black;
    margin-bottom: 8px;
}

.container .subtitle {
    font-weight: bold;
    color: gray;
}
