.container {
    align-items:center;
    color: rgb(47, 46, 46);
    background-color: rgb(224, 237, 249);
    margin: auto;
    width: 400px;
    margin-top: 20px;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.input {
    border-radius: 10px;
    margin: 60px;
    width: 300;

}
.button {
    border-radius: 5px;
    height: 20px;
    background-color: rgb(182, 216, 246);
    color: rgb(75, 75, 212);
    padding: 2px 10px;
    font-size: 15px; 
    border: 3px;
}
.buttonContainer {
    width: 50%;
    margin: 0 auto;
}
/* ver como alinear botón */
.errors {
    color: rgb(199, 30, 30);
    font-size: 14px;
}