.container {
    border-bottom: 1px solid rgb(210, 210, 210);
    background-color: rgb(240, 240, 240);
    width: 100%;
    position: fixed;
    top: 0px;
    align-items: center;
}

.logo {
    font-size: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    vertical-align: middle;
}

input {
    font-size: 13px;
    padding-left: 10px;
    width: 250px;
}

.searchButton {
    padding-left: 0px;
}

.navbarItem {
    height: 30px;
    border-radius: 6px;
    background-color: white;
    min-width: 40px;
    border: 1px solid rgb(210, 210, 210);
}
.addButton {
    background-color: rgb(168, 235, 168) !important;
    padding: 15px !important;
    margin-left: 70px !important;
}

